body {
    width: 960px;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
    background: lightGrey;
}

.paddingTop60{
    padding-top: 60px;
    margin-top: 0;
}

p {
    text-align: justify;
}

#hello {
    width: 960px;
    height: 50px; 
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    background-color: #FFF; /* Black */
    color: #818181;
    margin: auto;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    background-color: #AAA;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-right: auto;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #DDD;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #FFF;
}

/* Style page content */

.main {
    position: relative;
    width: 780px;
    left: 160px;
    overflow-y: hidden;
}

